/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5 !important;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
.navigation{
     float: right !important;
     padding-right: 94px !important;
     padding-top: 10px !important;
}
.moda-avatar{
  width: 50px;
}
@media (min-width: 768px) {
     .bd-placeholder-img-lg {
     font-size: 3.5rem;
     }
}

